<div class="col-xs-12 col-md-12 col-lg-12">
	<div data-ng-repeat="project in projects">
		<div class="col-lg-3 col-xs-12 col-md-6 project" data-ng-class="{out:project.migrations.status==0,uToDate:project.migrations.status==1}">
			<div class="thumbnail">
				<div>
          <span class="pointer title" data-ng-click="show(project.$id())">{{project.title}}</span>
          <i class="glyphicon glyphicon-edit pointer" data-ng-click="edit(project.$id())" title="Edit project"></i>
          <i class="glyphicon glyphicon-remove-circle pointer" data-ng-click="remove(project, $index, $event)" title="Remove project"></i>
          <div class="pull-right">
            <i class="glyphicon glyphicon-refresh pointer" data-ng-click="refreshProject(project, $index)" title="Refresh project"></i>
          </div>
        </div>
        <div>Nb migration files: {{project.migrations.length}}</div>
        <div>Updated At: {{project.migrations.updatedAt | date:'medium'}}</div>
			</div>
		</div>
	</div>
</div>